In [9]:
#lists example
lst=["mahi","rohit","rani","ravi","ram","raj","navi"]
#create dictionary
dic={
    "name":"mahi",
     "mobile_no":"5869865",
     "pin_no":"68531",
    "email":"mahi@gmail.com",
    "add":"jodhpur"
}
#create set
s1=set(lst)
#create tuple
t=("row1","row2","row3","row4")
st="this is the example of list,dictionary,set and tuple"
print("list is:",lst)
print("dictionary is:",dic)
print("set is:",s1)
print("tuple is:",t)
print("string is:",st)

list is: ['mahi', 'rohit', 'rani', 'ravi', 'ram', 'raj', 'navi']
dictionary is: {'name': 'mahi', 'mobile_no': '5869865', 'pin_no': '68531', 'email': 'mahi@gmail.com', 'add': 'jodhpur'}
set is: {'ram', 'rohit', 'navi', 'rani', 'raj', 'mahi', 'ravi'}
tuple is: ('row1', 'row2', 'row3', 'row4')
string is: this is the example of list,dictionary,set and tuple